<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--对spring和springdatajps的配置-->

    <!--1,创建数据库连接池-->

    <!--2,配置entityManagerFactory,类似mybatis的sqlsession,封装了增删改查方法-->
</beans>
